.table-container {
  font-family: Arial, sans-serif;
  margin: 2em;
  display: flex;
  flex-direction: column;
}
.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-bottom: none;
  width: auto;
  padding: 0.35em;
}
.select-all {
  margin-right: 3em;
}
.download-btn {
  background-color: white;
  border: none;
  font-size: inherit;
  /* padding: 0.5em 1em; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  /* margin: 1em 0; */
  padding: 0;
  width: auto;
  table-layout: auto;
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
  text-align: left;
}
thead tr {
  text-transform: capitalize;
}
tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
tbody tr.selected {
  background-color: #f5f5f5;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;

  flex-direction: row;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.icon {
  vertical-align: middle;
  padding-right: 0.3em;
}
